{% extends 'base.html' %}
{% load static %}

{% block title %}Who Wins and Who Loses in the Labor Market During Economic Downturns?{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/lfpr_blogpost.css' %}">
{% endblock %}

{% block content %}
<article class="lfpr-article">
    <header>
        <h1>Who Wins and Who Loses in the Labor Market During Economic Downturns?</h1>
        <p>Subodh Pandey</p>
    </header>

    <section>
        <h2>What is Labor Force Participation Rate?</h2>
        <p>The Labor force participation rate (LFPR) refers to the number of people in the labor force as a percentage of the working-age civilian noninstitutional population. Civilian labor force is a term used by the United States Bureau of Labor Statistics (BLS) to describe the subsets of the American population that are: 1) at least 16 years old 2) not serving in the military and 3) not institutionalized (e.g., not in penal facilities, mental facilities, and elder-care institutions). The LFPR is estimated by the BLS from the responses to the Current Population Survey.</p>

        <p>The LFPR is calculated using the following formula:</p>

<div class="formula-container">
  <div class="formula">
    <span class="label">LFPR =</span>
    <span class="fraction">
        <span class="numerator">Employed People + Unemployed People</span>
        <span class="denominator">Working Age Non-institutionalized Population</span>
    </span>
    <span class="percent">× 100%</span>
  </div>
</div>
    </section>

    <section>
        <h2>Importance and Historical Trends of Labor Force Participation Rate</h2>

        <p>Macroeconomists use LFPR as an initial economic indicator of current market trends and to understand the overall health of the economy, particularly in the long run. The increase in the labor force growth is associated with faster GDP growth, and vice versa. However, long-run changes may not always reflect the health of the economy. For example, demographic changes such as an aging population or the choice of individuals to attend college rather than work may lead to more exits from the labor force, causing a shrinking of the labor force and thus decreasing the LFPR.</p>

        <p>The study of the LFPR trend is important due to several reasons.  The civilian non institutional population of the United States in 2025 was approximately 273 million. The movement in 1 percentage points LFPR involves a change in the labor market status of 2.73 million people. It also represents the relative size of the labor force that is available in the production of the nation's goods and services (Mosisa & Hipple, 2006). </p>

        <p>While looking at the historical trend, the LFPR followed an upward trend for several decades since data collection started in 1948, reaching a peak of 67.3% in early 2000 and started declining. Perez-Arce and Prados (2021) attributed this decline to technological innovations and changes in the social programs after the financial crisis of 2007. The other possible reasons include retirement of the baby boomers, increase in social security benefits, changes in private insurance provided by the employer, and increased school enrollment among the younger population (Krueger, 2017; Mosisa & Hipple, 2006). </p>
    </section>

    <section>
        <h2>Trends in Labor Force Participation Rate by Gender</h2>

        <figure class="center-figure">
            <img src="{% static 'images/lfpr_gender_1948_25_final.jpg' %}" 
            alt="Labor Force Participation Rate by Gender (1948--2025)">
            <figcaption>Figure 1: Labor Force Participation Rate by Gender (1948-2025)</figcaption>
        </figure>
       

<figure class="center-figure">
  <img src="{% static 'images/lfpr_gender_2000_25_final.jpg' %}" 
       alt="Labor Force Participation Rate by Gender (2000--2025)">
  <figcaption> Figure 2: Labor Force Participation Rate by Gender (2000–2025)</figcaption>
</figure>

<p> The LFPR has changed by gender centering around evolving societal norms and roles (Fu, 2025). Historically, women experienced a notable increase in LFPR, particularly from 1950s to 1990s, while men experienced a decline in LFPR during the same period. However, since the early 2000s, the LFPR for both men and women has been declining parallelly. Although, men have a higher LFPR than women, the gap has narrowed over time, from 54.7 percentage points in January 1948 to 10.4 percentage points in December 2025. </p>

<p> The LFPR of men has been persistently higher than that of women since data collection started. From January 1948 onward, it fell by 19 points among men and grew by 25.3 points among women by December 2025. Between 2000 January and 2025 December, it fell by 7.4 points among men and grew by 2.8 points among women (Figure 1 and 2). </p>

<p> The increase in the LFPR for women can be caused by several factors, such as the feminist movement, an increase in post marriage work culture, declining fertility rates, delayed marriage, high divorce rates, increased access to education and employment opportunities, increasing acceptance of women in the labor market, increased demand for women in service sector, development of labor saving household technology, changes in spousal income, and the implementation of policies that support work-life balance (Greenwood et al., 2005; Juhn & Potter, 2006; Killingsworth & Heckman, 1986; Salamaliki & Venetis, 2014). </p>

<p> On the other hand, the decline in the LFPR for men are linked to several factors, such as the steep reduction in the participation of older men due to retirement and early retirement plans, decline in demand for less skilled workers, decline in manufacturing jobs, increased educational enrollment, and the changes in societal norms around gender roles (Juhn & Potter, 2006; Murphy & Topel, 1997; Salamaliki & Venetis, 2014). </p>

<p> The effects of economic downturns on the LFPR are also prominent by gender. During the COVID-19 pandemic, the LFPR for women dropped more significantly than men. This may be more likely because gendered work, more closely linked with women, such as, healthcare, hospitality, schooling, and retail were more severely affected by the pandemic. Also, the need for more homebound caregiving responsibilities disproportionately affected women due to the closure of childcare and in-person schooling, leading to a further decline in LFPR (Aaronson & Alba, 2021; Albanesi & Kim, 2021). </p>

    </section>

    <section>
        <h2>Trends in Labor Force Participation Rate by Race and Ethnicity</h2>

        <figure class="center-figure">
            <img src="{% static 'images/lfpr_race_2000_2025_rec_final.jpg' %}" alt="Labor Force Participation Rate by Race (2000--2025)">
            <figcaption> Figure 3: Labor Force Participation Rate by Race and Ethnicity (2000-2025)</figcaption>
        </figure>

        <figure class="center-figure">
            <img src="{% static 'images/lfpr_race_2014_2025_rec_final.jpg' %}" alt="Labor Force Participation Rate by Race (2014--2025)">
            <figcaption>Figure 4: Labor Force Participation Rate by Race and Ethnicity (2014-2025)</figcaption>
        </figure>
        

<p> There is also a differential trend by race and ethnicity. Historically, the LFPR for White workers has been higher than that of Black workers and LFPR for the Hispanic/Latino workers is higher than White and Black workers (Figure 3 and 4). The gap between these workers has remained relatively stable. The lower LFPR for Black workers may be caused by various factors including the nature of job, high discouragement, and more exits from the labor force (Cajner et al., 2017;
U.S. Bureau of Labor Statistics, 2023). The higher LFPR for Hispanic/Latino workers may be attributed to migration, necessity driven participation, and more people in the prime working age (U.S. Bureau of Labor Statistics, 2016). </p>

<p>  The LFPR is procyclical - it increases during economic expansions and decreases during recessions. More individuals join the labor force when the jobs are plentiful and leave in response to the fewer job opportunities (Mosisa & Hipple, 2006). This overall reduced participation rate for all races during COVID-19 has been linked to several factors, such as dependent care demands, increased unemployment benefits, people afraid of getting sick from COVID-19, and work-life balance preferences (Goda & Soltas, 2023; KPMG, 2025). </p>

<p> There is also differentiated effects of market shocks (COVID-19 and the Great Recession) on the LFPR by race and ethnicity. The reduction effects are higher in Black (4.5%) and Hispanic (4.7%) as compared to White workers (3%). The possible reasons includes being an essential worker, the type of work performed, workplace factors, and geographical factors (Jason et al., 2024). </p>

<p> While evaluating the effects during the Great Recession, there was a steady decrease in the LFPR, which continued after 2000, and decreased even further after the recession. Unlike COVID-19, where millions "dropped out" due to health fears or lockdowns, the Great Recession saw a more gradual exit from the labor force as discouraged workers stopped looking for jobs over several years (Kochhar, 2014; U.S. Bureau of Labor Statistics, 2019). </p>

<p> Thus, the LFPR is an important economic indicator that reflects the health of the labor market and the economy. It has been influenced by various factors such as demographic changes, societal norms, economic conditions, and policy changes. The trends in LFPR by gender and race highlight the disparities in labor market participation and requires preparations for the next economic downturns depending on the type of shock. Understanding the consequences of these shocks may help to mitigate their impact on the labor market in future. </p>

    </section>

<section class="references">
<h2>References</h2>

<ul>

<li>
Aaronson, S., & Alba, F. (2021). The relationship between school closures and female labor force participation during the pandemic. 
<em>Brookings Institution</em>. 
[Accessed February 24, 2026]. 
<a href="https://www.brookings.edu/articles/the-relationship-between-school-closures-and-female-labor-force-participation-during-the-pandemic/" target="_blank">
https://www.brookings.edu/articles/the-relationship-between-school-closures-and-female-labor-force-participation-during-the-pandemic/
</a>
</li>

<li>
Albanesi, S., & Kim, J. (2021). The gendered impact of the COVID-19 recession on the US labor market. 
<em>National Bureau of Economic Research</em>. 
<a href="https://doi.org/10.3386/w28505" target="_blank">https://doi.org/10.3386/w28505</a>
</li>

<li>
Cajner, T., Radler, T., Ratner, D., & Vidangos, I. (2017). Racial gaps in labor market outcomes in the last four decades and over the business cycle. 
<em>Board of Governors of the Federal Reserve System</em>. 
<a href="https://doi.org/10.17016/FEDS.2017.071" target="_blank">https://doi.org/10.17016/FEDS.2017.071</a>
</li>

<li>
Fu, J. (2025). Demographic analysis of labor force participation rate. 
<em>Eye on Housing Blog, National Association of Home Builders</em>. 
[Accessed February 24, 2026]. 
<a href="https://eyeonhousing.org/2025/01/demographic-analysis-of-labor-force-participation-rate/" target="_blank">
https://eyeonhousing.org/2025/01/demographic-analysis-of-labor-force-participation-rate/
</a>
</li>

<li>
Goda, G. S., & Soltas, E. J. (2023). The impacts of COVID-19 absences on workers. 
<em>Journal of Public Economics</em>, 222, 104889. 
<a href="https://doi.org/10.1016/j.jpubeco.2023.104889" target="_blank">
https://doi.org/10.1016/j.jpubeco.2023.104889
</a>
</li>

<li>
Greenwood, J., Seshadri, A., & Yorukoglu, M. (2005). Engines of liberation. 
<em>The Review of Economic Studies</em>, 72(1), 109–133. 
<a href="https://doi.org/10.1111/0034-6527.00326" target="_blank">
https://doi.org/10.1111/0034-6527.00326
</a>
</li>

<li>
Jason, K., Wilson, M., Catoe, J., Brown, C., & Gonzalez, M. (2024). The impact of the COVID-19 pandemic on Black and Hispanic Americans’ work outcomes: A scoping review. 
<em>Journal of Racial and Ethnic Health Disparities</em>, 11(3), 1157–1172. 
<a href="https://doi.org/10.1007/s40615-023-01594-6" target="_blank">
https://doi.org/10.1007/s40615-023-01594-6
</a>
</li>

<li>
Juhn, C., & Potter, S. (2006). Changes in labor force participation in the United States. 
<em>Journal of Economic Perspectives</em>, 20(3), 27–46. 
<a href="https://doi.org/10.1257/jep.20.3.27" target="_blank">
https://doi.org/10.1257/jep.20.3.27
</a>
</li>

<li>
Killingsworth, M. R., & Heckman, J. J. (1986). Female labor supply: A survey. 
<em>Handbook of Labor Economics</em>, 1, 103–204. 
<a href="https://doi.org/10.1016/S1573-4463(86)01005-2" target="_blank">
https://doi.org/10.1016/S1573-4463(86)01005-2
</a>
</li>

<li>
Kochhar, R. (2014). Employment and unemployment in the recession and the recovery. 
<em>Pew Research Center</em>. 
[Accessed February 24, 2026]. 
<a href="https://www.pewresearch.org/race-and-ethnicity/2014/06/19/chapter-1-employment-and-unemployment-in-the-recession-and-the-recovery/" target="_blank">
https://www.pewresearch.org/race-and-ethnicity/2014/06/19/chapter-1-employment-and-unemployment-in-the-recession-and-the-recovery/
</a>
</li>

<li>
KPMG. (2025). The great exit. <em>KPMG LLP</em>. 
<a href="https://kpmg.com/us/en/articles/2025/october-2025-the-great-exit.html" target="_blank">
https://kpmg.com/us/en/articles/2025/october-2025-the-great-exit.html
</a>
</li>

<li>
Krueger, A. B. (2017). Where have all the workers gone? An inquiry into the decline of the US labor force participation rate. 
<em>Brookings Papers on Economic Activity</em>, 2017(2), 1–87. 
<a href="https://doi.org/10.1353/eca.2017.0012" target="_blank">
https://doi.org/10.1353/eca.2017.0012
</a>
</li>

<li>
Mosisa, A., & Hipple, S. (2006). Trends in labor force participation in the United States. 
<em>Monthly Labor Review</em>, 129, 35. 
<a href="https://www.bls.gov/opub/mlr/2006/10/art3full.pdf" target="_blank">
https://www.bls.gov/opub/mlr/2006/10/art3full.pdf
</a>
</li>

<li>
Murphy, K. M., & Topel, R. (1997). Unemployment and nonemployment. 
<em>The American Economic Review</em>, 87(2), 295–300. 
<a href="https://www.jstor.org/stable/2950934" target="_blank">
https://www.jstor.org/stable/2950934
</a>
</li>

<li>
Perez-Arce, F., & Prados, M. J. (2021). The decline in the US labor force participation rate: A literature review. 
<em>Journal of Economic Surveys</em>, 35(2), 615–652. 
<a href="https://doi.org/10.1111/joes.12402" target="_blank">
https://doi.org/10.1111/joes.12402
</a>
</li>

<li>
Salamaliki, P. K., & Venetis, I. A. (2014). Smooth transition trends and labor force participation rates in the United States. 
<em>Empirical Economics</em>, 46(2), 629–652. 
<a href="https://doi.org/10.1007/s00181-013-0690-9" target="_blank">
https://doi.org/10.1007/s00181-013-0690-9
</a>
</li>

<li>
U.S. Bureau of Labor Statistics. (2016). Hispanics will make up nearly 20 percent of the labor force in 2024. 
[Accessed February 24, 2026]. 
<a href="https://www.bls.gov/opub/ted/2016/hispanics-will-make-up-nearly-20-percent-of-the-labor-force-in-2024.htm" target="_blank">
https://www.bls.gov/opub/ted/2016/hispanics-will-make-up-nearly-20-percent-of-the-labor-force-in-2024.htm
</a>
</li>

<li>
U.S. Bureau of Labor Statistics. (2019). More entrants or fewer leavers? A look at rising labor force participation. 
[Accessed February 24, 2026]. 
<a href="https://www.bls.gov/opub/mlr/2019/beyond-bls/more-entrants-or-fewer-leavers-a-look-at-rising-labor-force-participation.htm" target="_blank">
https://www.bls.gov/opub/mlr/2019/beyond-bls/more-entrants-or-fewer-leavers-a-look-at-rising-labor-force-participation.htm
</a>
</li>

<li>
U.S. Bureau of Labor Statistics. (2023). Labor force characteristics by race and ethnicity, 2022. 
[Accessed February 24, 2026]. 
<a href="https://www.bls.gov/opub/reports/race-and-ethnicity/2022/home.htm" target="_blank">
https://www.bls.gov/opub/reports/race-and-ethnicity/2022/home.htm
</a>
</li>
</ul>
</section>
</article>
{% endblock %}